@font-face {
	font-family: 'Conv_GAZEN___';
	src: url('../fonts/GAZEN___.eot');
	src: local('☺'),
		url('../fonts/GAZEN___.woff') format('woff'),
		url('../fonts/GAZEN___.ttf') format('truetype'),
		url('../fonts/GAZEN___.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Caxton';
	src: url('fonts/Caxton.eot');
	src: local('☺'),
		url('../fonts/Caxton.woff') format('woff'),
		url('../fonts/Caxton.ttf') format('truetype'),
		url('../fonts/Caxton.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HeroQuest';
	src: url('fonts/HeroQuest.eot');
	src: local('☺'),
    url('../fonts/HeroQuest.woff') format('woff'),
    url('../fonts/HeroQuest.ttf') format('truetype'),
    url('../fonts/HeroQuest.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
