body {
  font-size: 16px;
  font: 16px Conv_Caxton, Georgia, Times, Serif;
  counter-reset: pg;
}

h1,
h2,
h3 {
  padding: 0;
  margin-block: 0;
  margin: 0.3em 0 0 0;
}

.page h1::first-letter {
  font-size: 2.5em;
  float: left;
  display: inline-block;
  margin: -0.2em 0.2em -0.1em 0;
}

.page h1 {
  font-style: italic;
}

h3 {
  font-size: 1em;
}

p {
  padding: 0;
  margin-top: 0;
}

.page,
.contents {
  border: solid 1px green;
  max-width: 34.5rem;
  margin: auto;
}

.mentor-letter {
  font: 1.2rem/1.32rem Conv_GAZEN___, Palatino, Serif;
  text-indent: 4.3rem;
  max-width: 34.5rem;
  margin: auto;
}

.big-cap {
  padding-top: 1em;
}

.big-cap::first-letter {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contents h1,
.contents .list,
.contents .stupid {
  text-align: center;
  font-style: normal;
}

.contents h1 {
  font: 4em 'Conv_HeroQuest',Sans-Serif;
  color: white;
  text-shadow:
    -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    -3px 3px 0 white,
    3px 3px 0 white,
    3px -3px 0 white,
    -3px -3px 0 white,
    -6px 6px 0 black,
    6px 6px 0 black,
    6px -6px 0 black,
    -6px -6px 0 black;

}

.contents h2 {
  display: inline-block;
  font-style: italic;
}

.contents h1::first-letter {
  float: none;
  display: inline;
}

.contents h2::first-letter {
  float:left;
  display: inline-block;
  font-size: 2em;
  margin: -0.3em 0.1em 0 0;
}

.contents table {
  margin: auto;
}

.contents td {
  text-align: left;
  vertical-align: top;
}

.contents ul {
  max-width: 15em;
  display: inline-block;
  list-style: none;
}

.contents li {
  margin-left: -2em;
}

.page::after {
  counter-increment: pg;
  content: counter(pg);
  text-indent: 0;
}

  /*
@media print {
  @page {
    margin: 0mm;
  }

  body {
    font-size: 16pt;
    font: 16pt Caxton;
  }

  .page {
    position: relative;
    margin: 1cm 2cm;
    page-break-after: always;
    border: solid 1px black;
    height: calc(100vh - 2cm);
  }

  .page::after {
    position: absolute;
    left: 0;
    bottom: 0;
  }

}*/
